
// variable colors 

$sgcc-box-bg-colour											:#fbf01e;  // Main box color

// text colour

$sgcc-box-text-colour										:#222222;

$sgcc-links-colour											:#222222;  // links color
$sgcc-links-hover-colour									:#4CC500;  // links hover color

// Cookie icon
$sgcc-cookie-icon-colour									:#222222; // icon font

// close button
$sgcc-close-btn-bg-colour									:#222222;
$sgcc-close-btn-hover-bg-colour								:#4cc500;
$sgcc-close-btn-colour										:#ffffff;
$sgcc-close-btn-hover-colour								:#ffffff;

// I accept buttons
$sgcc-cookies-compliance-button-bg 							:#222222;
$sgcc-cookies-compliance-button-hover-bg 					:#4cc500;
$sgcc-cookies-compliance-button-color 						:#ffffff;
$sgcc-cookies-compliance-button-hover-color 				:#fffafa;
$sgcc-cookies-compliance-button-border-color 				:transparent;
$sgcc-cookies-compliance-button-border-hover-color 			:transparent;

// variables for font 

$icomoon-font-family										: "sgcc" !default;
$icomoon-font-path											: "../fonts" !default;
$sgcc-icon-close											: "\e900";
$sgcc-icon-cookie											: "\e901";