/**
 * Contributor: themebeez
 * Author url: https://themebeez.com/
 */

/* All styles for basic reset */



/* Message box styles */

.sgcc-main-wrapper {
	
	position: fixed;
    z-index: 99999999;
    right: 30px;
    bottom: 30px;
    opacity: 1;
    visibility: visible;
    max-width: 420px;
    background-color: #ffffff;
    transition: opacity .2s linear 1s, visibility .2s linear 1s;
    -webkit-animation: 0.9s 0.7s sgccfadeinup both;
    animation: 0.9s 0.7s sgccfadeinup both;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
}

.sgcc-cookies {

	position: relative;
	padding: 20px;
}

.sgcc-cookies .close {
	
	position: absolute;
	top: -15px;
    right: -15px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    color: #ffffff;
    background-color: #333333;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
}

.sgcc-cookies p {

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #ffffff;
}

.sgcc-main-wrapper .sgcc-cookies a {

	display: inline;
	text-transform: inherit;
	text-decoration: none;
	font-weight: 500;
	color: #ff0000;
}

.sgcc-main-wrapper .sgcc-cookies a:hover {

	color: #6382f7;
}


/* Media query */

@media ( max-width: 600px ) { 

    .sgcc-main-wrapper {

       max-width: 400px;
    }
}

@media ( max-width: 460px ) { 

    .sgcc-main-wrapper {

       max-width: 300px;
    }
}

@media ( max-width: 360px ) { 

    .sgcc-main-wrapper {

       max-width: 270px;
    }
}


/* Keyframes */

@-webkit-keyframes sgccfadeinup {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes sgccfadeinup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.sgccfadeinup {

  -webkit-animation-name: sgccfadeinup;
  animation-name: sgccfadeinup;
}
