.sgcc-main-wrapper  {
	.message-block {
		margin-bottom: 15px;
		font-size: 15px;
		line-height: 1.8;
		text-decoration: none;
		color: var(--sgcc-text-color);

		a {
			display: inline;
			font-weight: normal;
			text-transform: inherit;
			text-decoration: underline;
			color: var(--sgcc-link-color);

			&:is(:hover) {
				text-decoration: underline;
				text-transform: inherit;
				color: var(--sgcc-link-hover-color);
			}

			&:is(:focus) {
				outline: none;
			}
		}

		p {
			margin: 0;
			padding: 0;
			font-size: 15px;
			line-height: 1.8;
			text-decoration: none;

			&:is(:empty) {
				display: none;
			}

			&:is(:last-child) {
				margin: 0;
			}
		}
	}
}
